.App {
  text-align: center;
}
.container_input {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15px;
  gap: 10px;
}
button {
  background-color: brown;
  border: none;
  border-radius: 5px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}
.message {
  max-width: 200px;
}
.message p {
  border-radius: 12px;
  overflow-wrap: break-word;
  padding: 0 10px;
  text-align: start;
  margin: 0;
}

.message h5 {
  text-align: start;
  margin: 0;
  padding: 0 10px;
}
.recive {
  margin-right: auto;
}
.recive p {
  background-color: antiquewhite;
}
.send {
  margin-left: auto;
}
.send p {
  background-color: rgb(184, 179, 224);
}
